<div *ngIf="apiLoaded | async">
  <google-map
    height="400px"
    width="750px"
    [options]="options"
    (mapClick)="addMarker($event)"
  >
    <!--<map-polyline
      *ngFor="let hex of propsH3.hexagons"
      [path]="h3ToPolyline(hex)"
      (polylineClick)="polylineClick($event, hex)"
    ></map-polyline>-->
    <map-polygon
      *ngFor="let hexagon of propsH3.hexagons"
      [paths]="h3ToPolyline(hexagon)"
      [options]="polygonH3Options"
      (polygonClick)="polylineClick($event, hexagon)"
    ></map-polygon>
    <!-- <ng-container *ngFor="let position of defaultCabPositions">
      <map-marker
        [position]="position"
        [options]="markerOptions"
      ></map-marker>
    </ng-container>
    -->
  </google-map>
</div>
