<div *ngIf="apiLoaded | async">
  <google-map
    height="400px"
    width="750px"
    [options]="options"
  >
    <map-polygon
      *ngFor="let hexagonClone of propsH3Clone.hexagons; let i = index"
      [paths]="h3ToPolyline(hexagonClone)"
      [options]="polygonH3OptionsClone"
      (polygonClick)="polylineClick($event, hexagonClone,true)"
    >
    </map-polygon>
    <map-polygon
      *ngFor="let hexagon of propsH3.hexagons"
      [paths]="h3ToPolyline(hexagon)"
      [options]="polygonH3Options"
      (polygonClick)="polylineClick($event, hexagon,false)"
    ></map-polygon>
  </google-map>
</div>
